body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 675px;
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-direction{
  flex-direction: row;
}
.btn-primary {background-color: #00A3AD;
  border: none;
 margin: 0 20px;
  border-radius: 15%;
  padding: 10px 20px;
color: white;} /* Green */
@media screen and (min-width:769px) {
  #chartdiv {
    width: 100%;
    height: 800px;
  } 
}