body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 525px;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.jself-start{
  justify-self: center;
}
.footer{
  height: 565px;
  background-color: #5b6770;
  color:white;
  gap: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer-img{
  margin-top: 20px;
}
.d-ingrid{
  display: inline-grid;
  justify-content: center;

  flex-direction: row;
}
.img-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}

.img-container>h5{
  font-size: 1.5rem;
  font-weight: bold;
}


.llista{
  list-style: none;
}
.img-responsive{
  display: block;
  width: 100%;
  height: auto;
}

.btn-primary {background-color: #00A3AD;
  border: none;
  margin: 10px 20px;
  border-radius: 15%;
  padding: 10px 20px;
color: white;
} /* Green */
.h5{
  font-size: .95rem;
  font-weight: bold;
  display: inline;
}
.text-decoration-none{
  text-decoration: none;
  font-weight: bolder;
}
.text-white{
  color: white;
}

.orientacion{
  flex-direction: column;
}


@media screen and (min-width:769px) {
 
  .orientacion{
    flex-direction: row;
  }
  .footer{
    height: 375px;
    gap: 50px;
  }
  
  #chartdiv {
    width: 100%;
    height: 800px;
  }
  .img-container{
    flex-direction: row;
  } 
  .footer{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .h5{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .footer-img{
    margin-right: 20px;
  }
}

@media screen and (min-width:1200px) {
  .p-absolute {
    position: absolute;
    left: 5px;
  }
}